@charset "UTF-8";

/** # = ID
    . = Class**/

body{
    background-color: rgb(129, 182, 125);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: green;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: rgb(129, 182, 125);
}

h2{
    color: greenyellow;
}